/*
Authors: Sahba Bahizad, Jami Schwarzwalder
*/
img{
	
	width: 100px;
}

img.discard-thumb{
	width : 40px;
}
#play {
	width: 80px;
    height: 50px;
	background-size: 80px 48px;
    background-image: url(Play.png);
    background-repeat: no-repeat;
}
#cluenum {
	width: 85px;
    height: 50px;
	background-size: 80px 48px;
    background-image: url('clue number.png');
    background-repeat: no-repeat;

}
#cluecolor {
	width: 85px;
    height: 50px;
	background-size: 80px 48px;
    background-image: url('clue color.png');
    background-repeat: no-repeat;

}
#discard {
	width: 85px;
    height: 50px;
	background-size: 80px 48px;
    background-image: url('Discard.png');
    background-repeat: no-repeat;

}

#newGame {
	width: 85px;
    height: 50px;
	background-size: 80px 48px;
    background-image: url('New Game.png');
    background-repeat: no-repeat;

}
.vertical{
    writing-mode:tb-rl;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform:rotate(90deg);
    transform: rotate(180deg);
    white-space:nowrap;
    display:block;
    bottom:0;
    width:20px;
    height:80px;
	text-align:center;
	font-weight: 600;
}
.bkg-img{
	 background: url("fireworks.png"), rgba(255, 0, 0, 0.25);
	
	background-attachment: fixed;
	 color: white;
	 width:100%;
    height:850px;
	text-align: center;
	
	 
} 
.title{
	color: #CEF0D4; font-family: 'Rouge Script', cursive; font-size: 45px; font-weight: normal; line-height: 48px; margin: 0 0 50px; text-align: center; text-shadow: 1px 1px 2px #082b34;
	text-align: center;
	 margin: auto;
	 padding:100px;
}
#btn_start{
	font-size: 45px;
	text-align: center;
	 margin: auto;
}