/* CSS declarations go here */
img{
	
	width: 100px;
}
.vertical{
    writing-mode:tb-rl;
    -webkit-transform:rotate(90deg);
    -moz-transform:rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform:rotate(90deg);
    transform: rotate(180deg);
    white-space:nowrap;
    display:block;
    bottom:0;
    width:20px;
    height:50px;
	text-align:center;
}
#play {
	width: 80px;
    height: 50px;
	background-size: 80px 48px;
    background-image: url(Play.png);
    background-repeat: no-repeat;
}
#cluenum {
	width: 85px;
    height: 50px;
	background-size: 80px 48px;
    background-image: url('clue number.png');
    background-repeat: no-repeat;

}
#cluecolor {
	width: 85px;
    height: 50px;
	background-size: 80px 48px;
    background-image: url('clue color.png');
    background-repeat: no-repeat;

}
#discard {
	width: 85px;
    height: 50px;
	background-size: 80px 48px;
    background-image: url('Discard.png');
    background-repeat: no-repeat;

}

#newGame {
	width: 85px;
    height: 50px;
	background-size: 80px 48px;
    background-image: url('New Game.png');
    background-repeat: no-repeat;

}